<body>
    <app-navbar [actual]="2"></app-navbar>
    <section>
        <div class="centrado">
            <h2 class="titulo">Formación</h2>
        </div>
        <mat-tab-group backgroundColor="accent">
            <mat-tab label="UNIVERSITARIA Y CURSOS">
                <br /><br />
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="nombre">
                        <th class="encabezado" mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="establecimiento">
                        <th class="encabezado" mat-header-cell *matHeaderCellDef> Establecimiento </th>
                        <td mat-cell *matCellDef="let element"> {{element.establecimiento}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaInicio">
                        <th class="encabezado" mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaFin">
                        <th class="encabezado" mat-header-cell *matHeaderCellDef> Fecha de finalización </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
                    </ng-container>

                    <ng-container matColumnDef="logo">
                        <th class="encabezado" mat-header-cell *matHeaderCellDef> Logo </th>

                        <td mat-cell *matCellDef="let element"><img class="logo" src="../../../assets/{{element.logo}}">
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-tab>
            <mat-tab class="label" label="LENGUAJES">
                <mat-card class="cardFormacion">
                    <ul>
                        <li>C</li>
                        <li>C++</li>
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>Phyton</li>
                    </ul>
                </mat-card>

            </mat-tab>
            <mat-tab class="label" label="BASES DE DATOS">
                <mat-card class="cardFormacion">
                    <ul>
                        <li>MySQL</li>
                        <li>Mongo</li>
                    </ul>
                </mat-card>

            </mat-tab>
            <mat-tab class="label" label="FRAMEWORKS Y TECNOLOGIAS">
                <mat-card class="cardFormacion">
                    <ul>
                        <div class="columnasResponsivas">
                            <div>
                                <li>Node.js</li>
                                <li>Express</li>
                                <li>React</li>
                                <li>React Native</li>
                                <li>Angular</li>
                            </div>
                            <div class="columnaDos">
                                <li>Docker</li>
                                <li>Material</li>
                                <li>Ionic</li>
                                <li>Cordova</li>
                                <li>Selenium</li>
                            </div>
                        </div>
                    </ul>
                </mat-card>

            </mat-tab>
        </mat-tab-group>

    </section>
</body>