<nav>
  <div class="navbar">
      <div class="botones-navbar">
        <button mat-button color="primary" class="boton-navegacion"> <a href="#home">Home</a></button>

        <button mat-button color="primary"
          class="boton-navegacion"> <a href="#formacion">Formación</a> </button>

        <button mat-button color="primary"
          class="boton-navegacion"><a href="#experiencia">Experiencia</a> </button>

        <button mat-button color="primary"
          class="boton-navegacion"><a href="#contacto">Contacto</a></button>
        <!-- <router-outlet #outlet="outlet"></router-outlet> -->
      </div>
  </div>

  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="menu" #menu="matMenu">

      <button mat-menu-item color="primary" class="boton-navegacion"> <a href="#home">Home</a></button>

      <button mat-menu-item color="primary"
        class="boton-navegacion"><a href="#formacion">Formacion</a></button>

      <button mat-menu-item  color="primary"
        class="boton-navegacion"><a href="#experiencia">Experiencia</a></button>

      <button mat-menu-item color="primary"
        class="boton-navegacion"><a href="#contacto">Contacto</a></button>
      <!-- <router-outlet #outlet="outlet"></router-outlet> -->
    </mat-menu>
  </div>
</nav>