<body>
    <section>
    <div class="centrado">
        <h1 class="titulo">Experiencia</h1>
    </div>
    <!-- <article>
        <div class="texto">
            <h1>Nota</h1>
            <p>En esta página solo incluí mi experiencia laboral como desarrollador, excluyendo los trabajos previos ajenos al sector.</p>
        </div>
    </article> -->
        <div class="responsive" *ngFor="let experiencia of experiencias">
            <mat-card class="card">
                <div class="header-card">
                    <mat-card-title class="empresa">{{experiencia.empresa}}</mat-card-title>
                    <mat-card-subtitle class="puesto">Puesto: {{experiencia.puesto}}</mat-card-subtitle>
                </div>
                <img src="./assets/{{experiencia.logo}}">
                <p class="text">Inicio: {{experiencia.inicio}} <span *ngIf="experiencia.fin.lenght > 0">- Fin: {{experiencia.fin}} </span></p>
                <p class="text">{{experiencia.descripcion}}</p>
            </mat-card>
        </div>
    </section>
</body>