<body>
    <section>
        <div class="centrado">
            <h1 class="titulo">Contacto</h1>
        </div>
        <br/>
        <div class="contactoLista">
            <div class="contactoItem">
                <mat-icon class="iconoContacto" svgIcon="email"></mat-icon>
                <mat-card-subtitle> <a target="_blank" href="mailto:leondav@hotmail.com">
                        E-mail</a> </mat-card-subtitle>
            </div>
            <div *ngFor="let contacto of contactos">
                <div class="contactoItem">
                    <mat-icon class="iconoContacto" [svgIcon]=contacto.logo></mat-icon>
                    <mat-card-subtitle> <a target="_blank" href={{contacto.enlace}}>
                            {{contacto.descripcion}}</a> </mat-card-subtitle>
                </div>
            </div>
        </div>
    </section>
</body>