<section>
  <div id="home">
    <div class="centrado">
      <h1 class="bienvenido">¡Bienvenido a mi página web!</h1>
    </div>
    <div class="cardCentrada">
        <h2 class="text">Sobre mí y esta página</h2>
        <h4>
          Soy un desarrollador fullstack y técnico electrónico con experiencia laboral en frontend.
        </h4>
        <br />
        <div class="dosColumnas">
          <p class="text">
            Acá podés encontrar información sobre mí y ver una muestra de mi trabajo, está
            creada con Angular Material. Se puede ver el código en mi <a class="enlace" target="_blank" href="https://github.com/LeonardoDavidMachado/paginaPersonal">github</a>.
          </p>
          <img class="mitad" src="./assets/angular.svg">
        </div>
      <p class="text">¡No te olvides de visitarla con tu
      <span *ngIf="!isMobile">celular</span>
      <span *ngIf="isMobile">pc</span> para verla en la otra versión!
    </p>
    </div>
  </div>
</section>